/* General formatting */

h1{
    margin: 2% auto 0;
    font-size: 9vh;
}


p{
    font-size: 2.5vh;
}

hr{
    margin: 0.5% auto 4%;
}

select{
    margin: 3%;
    text-align: center;
}



@font-face {
    font-family: Benguiat;
    src: url('Benguiat.ttf');
}

.benguiat {
    font-family: Benguiat;

}

.fullscreen {
    height: 100vh;
    text-align: center;
    margin: 0;
    padding: 0;
}

.middle_column{
    text-align: center;
}




/* Title Screen */


.trailer{
    position: absolute;
    top: 40.5%;
    left: 7%;
    margin: 0;
    height: 50%;
    width: 45%;
}

#title_screen{
    background: url(images/nier_automata.jpg);
    background-position: center center;
    -webkit-background-size: cover;
    display: flex;
    overflow: hidden;
}



/* Story Page */

#story_page{
    text-align: center;
    background: url(images/menu.png);
    background-position: center center;
    -webkit-background-size: cover;

}

.story{
    font-size: 3vh;
    margin: 3% auto 2%;
    text-align: center;

}

/* Characer Page */

#character_page{
    text-align: center;
    background-color: #f5f4f4;
    height: 100vh;
}

.carousel-control-prev{
    margin-left: -15%;
}

.carousel-control-next{
    margin-right: -15%;
}

.character_desc{
    margin-top: 5%;
    text-align: left;
}

.carousel_caption {
position: relative;
left: 0;
top: 0;
color: black;
text-align: left;
display: none;
margin-top: 20px;
}


.carousel-control-prev-icon{
    filter: invert(100%);
}

.carousel-control-next-icon{
    filter: invert(100%);
}

.prevent_click{
    pointer-events: none;
}

.enable_click{
    pointer-events: auto;
}

.dot_line{
border-top: 10px dotted;
margin: 10px auto;

background-color: #f5f4f4;
width: 5%;




}

.hr_wrapper{
    background-color: #f5f4f4;
    padding: 80px 0 35px;
    align-items: center;

}

/* concept art page */


#concept_art_page{

    background-color: #f5f4f4;
    height: auto;

}

.concept_art{
    margin: 10px;
}

.bottom_padding{
    padding-bottom: 40px;

}




/* Purchase Page */

#purchase_page{
    background-image: url("images/endingE.png");
    color: white;
    text-align: center;
    background-position: center center;
    -webkit-background-size: cover;
    height: 100vh;
}

.purchase_text{
    margin: 5% 0 0;
}


.product_container img {
    width: 55%;
    margin-top: 8%;
}
