/* General formatting */

h1{
    margin: 2% auto 0;
    font-size: 5rem;
}

h2{
    font-size: 3rem;
}

p{
    font-size: 1.3rem;
}

hr{
    margin: 0.5% auto 4%;
}

select{
    margin: 3%;
    text-align: center;
}



@font-face {
    font-family: Benguiat;
    src: url('Benguiat.ttf');
}

.benguiat {
    font-family: Benguiat;

}

.fullscreen {
    height: 100vh;
    text-align: center;
    margin: 0;
    padding: 0;
}

.middle_column{
    text-align: center;
}




/* Title Screen */


.trailer{
    display: flex;
    position: absolute;
    top: 40.5%;
    left: 7%;
    margin: 0;
}


/* Story Page */

#story_page{
    text-align: center;
    background: url(images/menu.png);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.story{
    font-size: 2rem;
    margin: 3% auto 2%;
    text-align: center;

}

/* Characer Page */

#character_page{
    text-align: center;
    background-color: #f5f4f4;
}

.carousel-control-prev{
    margin-left: -15%;
}

.carousel-control-next{
    margin-right: -15%;
}

.character_desc{
    margin-top: 5%;
    text-align: left;
}

.carousel_caption {
position: relative;
left: 0;
top: 0;
color: black;
text-align: left;
display: none;
}


.carousel-control-prev-icon{
    filter: invert(100%);
}

.carousel-control-next-icon{
    filter: invert(100%);
}

.prevent_click{
    pointer-events: none;
}

.enable_click{
    pointer-events: auto;
}


/* concept art page */

#concept_art_page div{
    margin-bottom: 5%;
}

.concept_art{
    margin: 10px;
}



/* Purchase Page */

#purchase_page{
    background-image: url("images/endingE.png");
    color: white;
    text-align: center;
}

.purchase_text{
    margin: 5% 0 0;
}


.product_container img {
    width: 55%;
    margin: 8%;
}


/* Previous CSS */


.image_height_adjust{
    height: 100vh;

}

.big_image_padding{
    padding: 4%;
}

.center_text{

    font-size: 9.5rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: white;

}

.quote_column_format{

    display: flex;
    align-items: center;
    justify-content: center;

}

.character_quotes {
    text-align: center;
    font-size: 6rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: white;

}

.quote_background{
    background: url(images/endingE_flipped.png);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

.quote_background_reverse{
    background: url(images/endingE.png);
}

.pure_text_format{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.general_img{
    position: absolute;
    right: 2%;
    max-height:100%;
}

.nineS_img{
    position: absolute;
    right: 5%;
    max-height:100%;
}


#lies_text{

    background-color: black;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#yorha_img{
    background-image: url("images/yorha.jpg");
    background-size: cover;
}

#forest_king{
    background-image: url("images/forestking.jpg");
    background-size: cover;
}




.general_img{
    position: absolute;
    right: 2%;
    max-height:100%;
}

.left_img{
    position: absolute;
    left: 2%;
    max-height:100%;
}

.previous_button{
    position: absolute;
    bottom: 0%;
    left: 0;
}

.next_button{
    position: absolute;
    bottom: 0;
    right: 0;
}

.title_button{
    position: absolute;
    top: 0;
    left: 0;
}

.volume_button{
    position: absolute;
    top: 0;
    right: 0;
}

.reset {
    margin: 0;
    padding: 0;
}

#title_screen{
    background: url(images/nier_automata.jpg);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    overflow: hidden;
}




.lies{

    align-items: center;
    justify-content: center;
    max-width: 30%;
    max-height: 30%;
}


#commander{
    background: url(images/bunker_blurred.png);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#adam{
    background: url(images/copied_city_blurred.png);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#red1{
    background: url(images/tower_blurred_flipped.png);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#red2{
    background: url(images/tower_blurred.png);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


#pod{
    background: url(images/pod_bg_blurred.jpeg);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#twobee{
    background: url(images/endingE_flipped.png);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#eve{
    background: url(images/eve_bg_blurred.png);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

#nineS{
    background: url(images/lunar_tears_blurred.png);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.static{
    display: none;
    background-image: url(images/static.gif);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
